<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <form method="post" action="http://127.0.0.1:3333/array/validateArray">
    <input type="text" name="objects[][name]" placeholder="dado 1">
    <input type="text" name="objects[][age]" placeholder="dado 2">
    <input type="submit" value="Enviar">
  </form>

</body>
</html>